.listMain {
    width: 40%;
    height: 75%;

    margin: auto;

    background-color: var(--black);

    border-radius: var(--bradius);

    padding: 5px;
    padding-bottom: 0;

    display: inline-block;
}

.libraryA {
    width: 60px;
    height: 30px;

    border: 1px solid var(--blue);

    background-color: #024ba5;

    border-radius: var(--bradius);

    font-size: 15px;
    font-weight: 500;

    color: var(--font-colour);

    outline: none;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 5px;
}

.bar {
    height: min-content;

    margin: 0;
    margin-bottom: none;

    display: flex;
    flex-direction: row;
    overflow: wrap;
}

.library {
    width: 100%;
    height: min-content;
    border-radius: var(--bradius);

    margin: 0;
    margin-top: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sesName {
    background-color: var(--midBlack);

    border: 1.5px solid rgb(64, 64, 64);

    padding: 5px;
    color: var(--white);

    border-radius: 7.5px;

    color: whitesmoke;

    height: 78%;
    width: 78%;

    margin: 5px;
    margin-right: 0px;
    margin-left: 0;

    outline: none;

    font-size: 20px;
}

.searchIcon {
    font-size: 1.25vw;

    margin: auto;

    height: 78%;
    width: 8%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--midBlack);

    border: 1.5px solid rgb(64, 64, 64);

    border-radius: 7.5px;
}

.searchLable {
    font-size: 1.15vw;

    margin: auto;

    height: 78%;
    width: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--midBlack);

    border: 1.5px solid rgb(64, 64, 64);

    border-radius: 7.5px;
}

.listStuff {
    width: 100%;
    height: 88%;
    overflow-y: scroll;

    padding: 5px;
}

.sesTitle {
    font-size: 7.5vh;
    font-weight: 100;

    margin: 20px;

    color: whitesmoke;

    display: flex;
    justify-content: space-between;
}

.sesTitle div {
    color: whitesmoke;
}

.listBar {
    background-color: var(--midBlack);

    height: 50px;
    width: 100%;

    margin-bottom: 10px;

    border-radius: var(--bradius);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
}

.listBar2 {
    background-color: var(--midBlack);

    height: 50px;
    width: 100%;

    margin-bottom: 10px;

    border-radius: var(--bradius);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.listBar2.search {
    background-color: rgb(40, 40, 40);
    margin: 5px;

    width: 98%;

    display: flex;

    color: whitesmoke;

    padding: 0;
}

.listName {
    color: whitesmoke;

    font-size: 1.3vw;
    font-weight: bold;

    padding-left: 5px;

    -webkit-text-stroke: 0.5px var(--blue);
}

.listInfo {
    width: 40px;
    height: 40px;

    background-color: var(--blue);

    border-radius: var(--bradius);

    display: flex;
    justify-content: space-around;
    align-items: center;

    color: whitesmoke;

    -webkit-text-stroke: 0.5px var(--blue);
}

.popupMain {
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.popupMain>div {
    background-color: var(--lightBlack);
    color: var(--font-colour);
    border-radius: var(--bradius);
    display: inline-block;
    height: auto;
    max-width: 700px;
    min-height: 400px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 30px;
}

.popupMain .popupHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.popupCloseButton {
    background-color: var(--lightBlack);
    border-radius: 50px;
    cursor: pointer;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: -20px;
    right: -20px;
    font-size: 25px;
    width: 40px;
    height: 40px;

    margin-top: 5px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popupCloseButton:hover {
    background-color: var(--midBlack);
}

.popupTitle {
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    color: whitesmoke;
}

.popupSub {
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(202, 202, 202);
}

.popupInner {
    display: inline-block;
    width: 100%;
}

.popupLeft {
    float: left;
    width: 60%;
    height: 40%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.popupImage {
    width: 250px;
    height: 250px;
    margin: 2.5px;

    padding: 10px;

    border: 3px dashed whitesmoke;
}

@media screen and (max-width: 900px) {
    .popupLeft {
        width: 100%;
    }

    .listMain {
        width: 85%;
    }

    .listName {
        font-size: 1.5vh;
    }

    .popupMain>div {
        width: 55%;
    }

    .popupImage {
        width: 200px;
        height: 200px;
    }

    .popuptitle {
        font-size: 24px;
    }

    .popupSub {
        font-size: 18px;
    }
}

@media screen and (max-width: 1300px) {
    .popupMain {
        width: 140%;
    }
}