* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    height: 100%;

    font-family: sans-serif;
    display: flex;
    background: var(--midBlack);

    /* Variables */

    --font-colour: whitesmoke;
    --black: #151515;
    --midBlack: #222;
    --lightBlack: rgb(24, 24, 24);
    --blue: #0F3460;
    --buttonbg: rgb(50, 50, 50);
    --animDuration: 0s;
    --bradiusSmall: 5px;
    --bradius: 10px;

    width: 100vw;
    height: 98vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

button.digits {
    background: transparent;
    border: none;
    width: 100vw;
    height: 80vh;

    outline: none;

    color: var(--font-colour);

    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: default;

    font-size: 13vw;
}

.copied {
    padding: 20px;
    position: absolute;
    top: 20px;
    background: rgb(92, 92, 92);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--bradiusSmall);
    opacity: 0;
    transition: opacity var(--animDuration) ease;
    color: var(--font-colour);

    z-index: 1000000;
}

.copied.show {
    opacity: 1;
    transition: opacity 0.25s ease;
}

.copied.show p {
    opacity: 1;
    transition: opacity 0.25s ease;
}

.digits::-moz-selection {
    background-color: transparent;
}

.digits::selection {
    background-color: transparent;
}

.copyTime {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;

    color: var(--font-colour);

    background-color: var(--blue);

    border-radius: var(--bradius);

    font-size: 18px;

    cursor: pointer;

    width: 11vw;

    margin-left: 44.5vw;
    margin-right: 44.5vw;
}

@media screen and (max-width: 1200px) {
    button.digits {
        font-size: 18vh;
    }
}

.stackmatCheck {
    position: absolute;

    width: 50vw;

    padding: 20px;

    border-radius: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 901;

    background-color: rgb(40, 40, 40);

    justify-content: center;
}

.stackmatMsg {
    color: whitesmoke;
    text-align: center;

    font-weight: bold;

    font-size: 2.5vw;
}

.stackmatCap {
    color: whitesmoke;
    text-align: center;

    margin-top: 5px;

    font-size: 1.5vw;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 900;
}

.stackmatBtns {
    margin-top: 50px;

    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btnYesStack, .btnNoStack {
    padding: 15px;

    padding-left: 25px;
    padding-right: 25px;

    outline: none;

    font-size: 2vw;

    color: whitesmoke;

    border: none;

    background-color: #0F3460;

    border-radius: 10px;

    cursor: pointer;
}