.top {
    height: 15%;

    text-align: center;
    color: var(--font-colour);

    font-size: 8vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gamesList {
    width: 70%;
    height: 75%;

    background-color: var(--black);

    margin-top: 25px;

    border-radius: 25px;

    padding: 25px;

    overflow-y: scroll;
}

.gameItem {
    width: 100%;
    height: 10vh;

    background-color: var(--midBlack);

    border-radius: 20px;

    padding: 15px;

    color: var(--font-colour);

    font-size: 26px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 25px;
}

.gameItemPlay {
    width: 6.25vh;
    height: 6.25vh;

    font-size: 80%;

    color: rgb(0, 56, 0);
    background-color: rgb(1, 134, 1);

    border: none;

    outline: none;

    cursor: pointer;

    border-radius: 10px;
}

.gameItemInfo {
    width: 6.25vh;
    height: 6.25vh;

    font-size: 80%;

    color: rgb(0, 20, 56);
    background-color: rgb(0, 30, 165);

    border: none;

    outline: none;

    cursor: pointer;

    border-radius: 10px;

    margin-right: 10px;
}

.gameItemScores {
    width: 6.25vh;
    height: 6.25vh;

    font-size: 80%;

    color: rgb(56, 43, 0);
    background-color: rgb(165, 121, 0);

    border: none;

    outline: none;

    cursor: pointer;

    border-radius: 10px;

    margin-right: 10px;
}

.gameItem:last-child {
    margin-bottom: 0px;
}

.gameScreen {
    position: absolute;

    width: 75vw;
    height: 85vh;

    padding: 20px;

    border-radius: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 901;

    background-color: rgb(40, 40, 40);

    justify-content: center;

    flex-wrap: wrap;
}

.gameScreenTitle {
    font-size: 34px;

    color: var(--font-colour);
}

.gameScreenClose {
    position: absolute;

    top: -15px;
    right: -15px;

    width: 35px;
    height: 35px;

    padding: 10px;

    background-color: rgb(40, 40, 40);

    color: white;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    font-size: 18px;
}

.gameScoresClose {
    position: absolute;

    top: -15px;
    right: -15px;

    width: 35px;
    height: 35px;

    padding: 10px;

    background-color: rgb(40, 40, 40);

    color: white;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    font-size: 18px;
}

.gameInfo {
    position: absolute;

    width: 45vw;

    padding: 20px;

    border-radius: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 901;

    background-color: rgb(40, 40, 40);

    justify-content: center;

    flex-wrap: wrap;
}

.gameScores {
    position: absolute;

    width: 45vw;
    height: 40vh;

    padding: 20px;

    border-radius: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 901;

    background-color: rgb(40, 40, 40);

    justify-content: center;

    text-align: center;

    flex-wrap: wrap;
}

.gameInfoTitle {
    font-size: 26px;

    color: var(--font-colour);
}

.gameInfoText {
    font-size: 18px;

    text-align: center;

    margin-top: 15px;

    color: rgb(164, 167, 185);
}

.gameInfoClose {
    position: absolute;

    top: -15px;
    right: -15px;

    width: 35px;
    height: 35px;

    padding: 10px;

    background-color: rgb(40, 40, 40);

    color: white;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    font-size: 18px;
}

.gameScoresClose {
    position: absolute;

    top: -15px;
    right: -15px;

    width: 35px;
    height: 35px;

    padding: 10px;

    background-color: rgb(40, 40, 40);

    color: white;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    font-size: 18px;
}

.gameInfoClose:hover {
    background-color: rgb(60, 60, 60);

    cursor: pointer;
}

.gameScoresClose:hover {
    background-color: rgb(60, 60, 60);

    cursor: pointer;
}

.gameScreenClose:hover {
    background-color: rgb(60, 60, 60);

    cursor: pointer;
}

.game {
    width: 95%;
    height: 85%;

    border: 3px solid rgb(32, 32, 32);

    border-radius: 15px;

    background-color: rgb(32, 32, 32);
}

.gamePLL {
    width: 100%;
    height: 100%;

    padding: 20px;

    display: flex;

    align-items: center;
}

.gamePLL .left {
    width: 35%;
    height: 100%;

    padding: 20px;

    padding-top: 50px;
    padding-bottom: 50px;
    border-right: 2.5px solid var(--black);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.gamePLL .right {
    width: 65%;
    height: 100%;

    padding: 25px;
}

.rightTop {
    width: 100%;
    height: 90%;
}

.pllTitle {
    font-size: 21.5px;

    color: var(--font-colour);

    text-align: center;
}

.pllImage {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pllImage img {
    width: 80%;

    border-radius: 20px;
}

.pllImage twisty-player {
	width: 150%;
}

.pllOptions {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.pllOption {
    width: 35%;
    height: 35%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--blue);

    margin: 20px;

    border-radius: 20px;

    font-size: 22px;

    color: var(--font-colour);

    cursor: pointer;
}

.rightBottom {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px;
}

.rightBottom .progress, 
.rightBottom .score,
.rightBottom .time {
    font-size: 20px;

    color: rgb(164, 167, 185);
}

.startBtn {
    font-size: 30px;

    padding: 20px;

    outline: none;

    border: none;

    color: rgb(0, 56, 0);
    background-color: rgb(1, 134, 1);

    width: 25%;
    height: 20%;

    border-radius: 20px;

    margin-left: 37.5%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.scores {
    width: 30%;
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    flex-wrap: wrap;

    margin-left: 35%;
}

.scoreTitle {
    font-size: 60px;

    color: var(--font-colour);
}

.scorePiece {
    font-size: 30px;

   color: rgb(164, 167, 185);
}